<%= form_for @post do |form| %>
<% if @post.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
        <% @post.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
    <div>
        <%= form.label :date, class: "text-gray-700 dark:text-gray-200" %>
        <%= form.date_field :date, class: "block mt-2 w-full placeholder-gray-400/70 dark:placeholder-gray-500 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 dark:border-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:focus:border-blue-300" %>
    </div>

    <div>
        <%= form.label :rationale, class: "text-gray-700 dark:text-gray-200" %>
        <%= form.text_area :rationale, class: "block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring" %>
    </div>

    <div class="flex justify-end mt-6">
        <%= form.submit "Save", class: "px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600" %>
    </div>
</div>
<% end %>